<a href="https://colab.research.google.com/github/khareyash05/Machine-Learning/blob/main/Ensemble_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
from mlxtend.plotting import plot_decision_regions

In [38]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.metrics import accuracy_score

In [39]:
data=load_iris()

In [40]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [41]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [42]:
d = {
    'sepal length (cm)' : data.data[50:,1],
     'petal length (cm)' : data.data[50:,2],
     'Species' : np.array([i for i in data.target if i>0 ])
}

In [43]:
df = pd.DataFrame(d)
df

    sepal length (cm)  petal length (cm)  Species
0                 3.2                4.7        1
1                 3.2                4.5        1
2                 3.1                4.9        1
3                 2.3                4.0        1
4                 2.8                4.6        1
..                ...                ...      ...
95                3.0                5.2        2
96                2.5                5.0        2
97                3.0                5.2        2
98                3.4                5.4        2
99                3.0                5.1        2

[100 rows x 3 columns]

In [44]:
df = df.sample(df.shape[0])
df

    sepal length (cm)  petal length (cm)  Species
13                2.9                4.7        1
8                 2.9                4.6        1
4                 2.8                4.6        1
87                3.1                5.5        2
57                2.9                6.3        2
..                ...                ...      ...
1                 3.2                4.5        1
30                2.4                3.8        1
21                2.8                4.0        1
52                3.0                5.9        2
33                2.7                5.1        1

[100 rows x 3 columns]

In [45]:
df_train = df.iloc[:60,:].sample(10)
df_train

    sepal length (cm)  petal length (cm)  Species
47                2.9                4.3        1
63                2.5                5.0        2
44                2.7                4.2        1
73                2.7                4.9        2
41                3.0                4.6        1
51                2.7                5.1        2
46                2.9                4.2        1
29                2.6                3.5        1
34                3.0                4.5        1
61                2.7                5.3        2

In [46]:
df_test = df.iloc[61:,:].sample(10)
df_test

    sepal length (cm)  petal length (cm)  Species
37                2.3                4.4        1
19                2.5                3.9        1
16                3.0                4.5        1
68                2.6                6.9        2
94                3.3                5.7        2
11                3.0                4.2        1
1                 3.2                4.5        1
75                3.2                6.0        2
6                 3.3                4.7        1
23                2.8                4.7        1

In [47]:
df_tt = df_train.sample(5,replace=True)
X_test = df_tt.iloc[:,:-1].values
Y_test = df_tt.iloc[:,-1].values

In [48]:
def evaluate(model,X,y):
  model.fit(X,y)
  plot_tree(model)
  plt.show()
  plot_decision_regions(X,y,model,legend=2)
  plt.show()
  y_pred = model.predict(X_test)
  print("accuracy score ",accuracy_score(y_test,y_pred))
  return model

SyntaxError: ignored